[package]
name = "nanoc-compiler"
version = "0.1.0"
edition = "2024"

[workspace]
members = ["crates/nanoc-parser"]
resolver = "2"

[workspace.dependencies]
logos = "0.15.1"
text-size = "1.1.1"
thiserror = "2.0.17"
rowan = "0.16.1"
insta = "1.44.3"

[dependencies]
nanoc-parser = { path = "crates/nanoc-parser" }
