[package]
name = "nanoc-compiler"
version = "0.1.0"
edition = "2024"

[workspace]
members = [
    "crates/nanoc-codegen",
    "crates/nanoc-ir",
    "crates/nanoc-parser",
    "crates/nanoc-runtime",
]
resolver = "2"

[workspace.dependencies]
logos = "0.15.1"
text-size = "1.1.1"
thiserror = "2.0.17"
rowan = "0.16.1"
insta = "1.44.3"
inkwell = { version = "0.7.1", features = ["llvm19-1"] }
thunderdome = "0.6.1"
# smol_str = "0.3.4"

nanoc-parser = { path = "crates/nanoc-parser" }
nanoc-codegen = { path = "crates/nanoc-codegen" }
nanoc-ir = { path = "crates/nanoc-ir" }

[dependencies]
nanoc-parser.workspace = true
nanoc-codegen.workspace = true
nanoc-ir.workspace = true
inkwell.workspace = true
