[package]
name = "airyc-compiler"
version = "0.1.0"
edition = "2024"

[workspace]
members = [
    "crates/airyc-codegen",
    "crates/airyc-analyzer",
    "crates/airyc-parser",
    "crates/airyc-runtime",
]
resolver = "2"

[workspace.dependencies]
logos = "0.15.1"
text-size = "1.1.1"
thiserror = "2.0.17"
rowan = "0.16.1"
insta = "1.44.3"
inkwell = { version = "0.7.1", features = ["llvm21-1"] }
thunderdome = "0.6.1"
# smol_str = "0.3.4"

airyc-parser = { path = "crates/airyc-parser" }
airyc-codegen = { path = "crates/airyc-codegen" }
airyc-analyzer = { path = "crates/airyc-analyzer" }

[dependencies]
airyc-parser.workspace = true
airyc-codegen.workspace = true
airyc-analyzer.workspace = true
inkwell.workspace = true
