[config]
default_to_workspace = false

[tasks.default]
alias = "build"

[tasks.build]
dependencies = ["build-compiler", "build-runtime"]

[tasks.build-compiler]
command = "cargo"
args = ["build", "--release", "--bin", "airyc-compiler"]

[tasks.build-runtime]
command = "cargo"
args = ["build", "--release", "-p", "airyc-runtime"]

