[config]
default_to_workspace = false

[tasks.default]
alias = "build"

[tasks.build]
dependencies = ["build-compiler", "build-runtime"]

[tasks.build-compiler]
command = "cargo"
args = ["build", "--release", "--bin", "airyc-compiler"]

[tasks.build-runtime]
command = "cargo"
args = ["build", "--release", "-p", "airyc-runtime"]

[tasks.test]
description = "Run all integration tests with coverage"
dependencies = ["build"]
command = "cargo"
args = ["run", "--release", "-p", "airyc-test", "--",
        "--test-dir", "test/compiler-dev-test-cases/testcases",
        "--compiler", "./target/release/airyc-compiler",
        "--runtime", "./target/release/libairyc_runtime.a",
        "--timeout", "5",
        "--coverage"]

[tasks.test-quick]
description = "Run tests without perf and coverage"
command = "cargo"
args = ["run", "--release", "-p", "airyc-test", "--",
        "--test-dir", "test/compiler-dev-test-cases/testcases",
        "--exclude", "perf",
        "--compiler", "./target/release/airyc-compiler",
        "--runtime", "./target/release/libairyc_runtime.a"]

[tasks.test-ci]
description = "Run tests for CI"
command = "cargo"
args = ["run", "--release", "-p", "airyc-test", "--",
        "--test-dir", "test/compiler-dev-test-cases/testcases",
        "--exclude", "perf",
        "--compiler", "./target/release/airyc-compiler",
        "--runtime", "./target/release/libairyc_runtime.a",
        "--timeout", "10",
        "--coverage"]

