[config]
default_to_workspace = false

[tasks.default]
alias = "build"

[tasks.build]
command = "cargo"
args = ["build", "--bin", "airyc-cli"]


[tasks.test]
description = "Run all integration tests"
dependencies = ["build"]
command = "cargo"
args = [
    "run",
    "-p",
    "test",
    "--",
    "--test-dir",
    "./testcases",
    "--exclude",
    "performance",
    "--compiler",
    "./target/debug/airyc-cli",
    "--timeout",
    "20",
    "--verbose"
]

