[package]
name = "airyc-cli"
version.workspace = true
edition.workspace = true

[dependencies]
parser.workspace = true
codegen.workspace = true
analyzer.workspace = true
lexer.workspace = true
syntax.workspace = true
vfs.workspace = true
tools.workspace = true

clap.workspace = true
miette.workspace = true
thiserror.workspace = true
rowan.workspace = true
inkwell.workspace = true
rayon.workspace = true
